# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# Android build output
app/build/
*.apk
*.aab
*.ap_
*.dex
output-metadata.json

# Native build
.cxx/
obj/
app/.cxx/

# IDE
*.iml
.idea/
local.properties
captures/

# Logs / OS noise
*.log
.DS_Store
Thumbs.db
